html,body{
    font-family: 'Times New Roman', Times, serif;
    background-size: 170%;
    color: white;
    position: fixed;
    position: relative;
}
/*header*/
header{
    margin: 20px;
    background:rgb(253, 247, 247,0.10);
    background-size: 250%;      
}
header h1{
    color: white;
    font: outline;
}
/* section */
.profile-section {
    background:rgb(253, 247, 247,0.10);
    padding: 20px 15px;
    margin: 40px;
    background-size: 500%;
    height: 800px;
    position: fixed;
    position: relative;
}
.section-tabel{
    background:rgb(253, 247, 247,0.10);
    padding: 20px 15px;
    margin: 40px;
    background-size: 500%;
    height: 900px;
}
.file-section{
    background:rgb(253, 247, 247,0.10);
    padding: 20px 15px;
    margin: 40px;
    background-size: 500%;
    height: 700px;
    position: fixed;
    position: relative;
}
.sect{
    background:rgb(253, 247, 247,0.10);
    padding: 20px 15px;
    margin: 40px;
    background-size: 500%;
    height: 1000px; 
    position: fixed;
    position: relative;
}
.profile-text h1 {
    color: white;
	font-size: 48px;
	margin-bottom: 25px;
}
.menu{
  padding: 1% 10% 1% 15%;
  width: 73%;
}
.hh{
  align-items: center;
  color: white;
  background-color:rgba(70, 103, 104, 0.3);
  width: 50%;
  padding: 10px 10px 10px 10px;
  border-radius: 25px 25px 25px 25px;
  border: 1px solid #098e92;
}
.menu2{
  padding: 3%;
  color: white;
  background-color:  rgba(70, 103, 104, 0.3);
  border-radius: 45px 45px 45px 45px;
  align-items: center;
  width: 94%;
}

input,textarea{
  box-sizing: border-box;
  padding: 5px;
  background: none;
  border: none;
  border-bottom: white solid 1px;
  color: white;
}

input:focus, textarea:focus{
  background: rgba(48, 47, 47, 0.3);
}
.table, .th ,.td,.tr {
    border: 1px solid #098e92;
    border-collapse: collapse;
  }
  .td{
    background-color: rgba(70, 103, 104, 0.3);
  }
  .th, .td {
    padding: 15px;
  }
thead{
    background: rgb(82, 83, 83);
}
th:hover{
    background-color:#fafafa;
    color:#098e92;
  }
a {
    color: #098e92;
}
a:hover{
    color: white;
}
.del {
  color: red;
}
.del:hover{
  color: white;
}
.profile-foto {
    width: 45%;
    float: right;
}

.foto_profile{
	background: url("../foto/logowahyu.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}
/*gambar iklan*/
.gbr a img{
    float: right;
    border:  1px solid #098e92;
    margin-right: 20px ;
    transition: width 1s;
}
.gbr a img:hover{
    position: relative;
    width: 110px;
    height: 100px;
}
.cap{
    color: #098e92;
    width: 350px;
    height: 30px;
    padding: 5px;
    float: right;
    margin-top: 8px;
    margin-left: 70px;
    text-align: left;
}
/*gambar galery*/
.gallery a img{
    transition: width 0.3s;
    transition: 0.3s ease all;
}
.gallery a img:hover{
    width: 330px;
    height: 230px;
}
/*menu aktif*/
.active{
    border:  1px solid #098e92;
    padding-top: 35px;
    margin-right: 20px;
    
}
.tmenu{
    float: right;
    list-style: none;
    
}
.tmenu li{
    display: inline-block;
    position: relative;
    
}
.tmenu a img{
    
    width: 45px;
    height: 45px;
    margin-right: 30px ;
    margin-top: 37px;
    padding-top: 0px;
    transition: width 1s;
    transition: 0.3s ease all;
    
}
.tmenu a img:hover{
    width: 50px;
    height: 45px;
    box-shadow: 0 30px 30px 0px rgb(129, 212, 218);
}
/*foter*/
.iklan{
    margin: 10px 0 20px 0;
    width: 100%;
    background:rgb(253, 247, 247,0.10);
    background-size: 150%; 
}
/*logo login*/
.login a img{
    float: right;
    margin-left: 10px ;
    transition: width 1s;
    transition: 0.3s ease all;
}
.login a img:hover{
    height: 40px;
    width: 45px;
    box-shadow: 0 30px 30px 0px rgb(129, 212, 218);
}
hr{
    color: #098e92;
}
/*form*/
form {
    margin:10px auto;
}
.ipt{
    color: white;
    border: none;
    background-color: #098e92;
    border: 2px solid white;
    width: auto;
}  
.pilih{
    color: white;
    border: none;
    background-color: #098e92;
    border: 2px solid white;
    width: auto;
} 
.search {
    padding:8px 75px;
    background:white;
    border:0px solid #dbdbdb;
}
button {
    border: none;
    font-size: 14px;
    padding: 8px 18px;
    border : 2px solid white;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background:#098e92;
}
button:hover{
    background-color:#fafafa;
    color:#098e92;
}
/* galery */
.gallery {
    margin: 5px 5px 5px 20px;
    padding: 30px 30px 10px 30px;
    border: 1px solid rgb(56, 97, 38);
    float: left;
    height: 280px;
  }
.gallery:hover {
    float: left;
    border: 1px solid rgb(56, 97, 38);
    box-shadow: 0 30px 30px 0px #999;
    height: 280px;   
  }

.gallery img {
    width : 300px ;
    height : 200px;
  }
/*caption*/  
.desc {
    background: #098e92;
    padding: 15px;
    text-align: center;
    transition: 0.3s ease all;
  }
.footer-copyright {
	color: #fff;
	font-size: 11px;
	font-weight: 500;
    padding: 4px 0;
}
.dc{
    background-color: rgb(99, 104, 102);
    border-radius: 25px 25px 25px 25px;
}

